.header {
	background-color: #333333;
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.header div {
	margin-right: 30px;
}

.profiel {
	width: 224px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profiel:hover {
	cursor: pointer;
}

.dude {
	font-size: 24px;
}

.notification {
	width: 70px;
	height: 70px;
	background-color: #d9d9d9;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.notification:hover {
	cursor: pointer;
}

.notification-badge {
	position: absolute;
	bottom: 0;
	right: -25px;
	background-color: red;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.navbar {
	width: 180px;
	margin-right: 40px;
}

.main {
	display: flex;
	margin-left: 40px;
	margin-top: 40px;
}

.table-container {
	flex: 1;
	margin-right: 20px;
}

.graph-container {
	flex: 1;
}

table {
	width: 850px;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}

th {
	font-size: 20px;
}

.crash {
	display: flex;
	width: 700px;
	justify-content: space-between;
}

.crash-info {
	font-size: 16;
	background-color: #6c757d;
	border-radius: 5px;
	text-align: center;
}

.crash-name {
	text-align: center;
	padding: 6px 12px;
	color: white;
}

.crash-info:hover {
	background-color: #5c636a;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.grid-item {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
}